.svg-n path {
	animation: nyapo 2s ease-in-out forwards; 
	stroke: #C8F4E7;
	stroke-dasharray: 1800;
	stroke-dashoffset: 0;
	stroke-width: 1;
}
  
.svg-area {
	padding-top: 84px;
	padding-left: 24px;
  width:500px;
}
  
@keyframes nyapo {
  0% {
    fill: transparent;
    stroke-dashoffset: 1800;
  }
  10% {
    fill: transparent;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #C8F4E7;
    stroke-dashoffset: 0;
    stroke-width:2px;
  }
}