.svg-n path {
	-webkit-animation: nyapo 2s ease-in-out forwards;
	animation: nyapo 2s ease-in-out forwards; 
	stroke: #9967AB;
	stroke-dasharray: 1800;
	stroke-dashoffset: 0;
	stroke-width: 1;
}
  
.svg-area {
	padding-top: 84px;
	padding-left: 24px;
  width:50%;
}

@-webkit-keyframes nyapo {
  0% {
    fill: transparent;
    stroke-dashoffset: 1800;
  }
  10% {
    fill: transparent;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #9967AB;
    stroke-dashoffset: 0;
    stroke-width:2px;
  }
}

@keyframes nyapo {
  0% {
    fill: transparent;
    stroke-dashoffset: 1800;
  }
  10% {
    fill: transparent;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: #9967AB;
    stroke-dashoffset: 0;
    stroke-width:2px;
  }
}